.box{
    height: 200px;
    width: 250px;
    background-color: teal;
    margin-bottom: 20px;
}

.card{
    height: 350px;
    width: 300px;
    background-color: teal;
    margin-bottom: 20px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;

}
